@model IEnumerable<Vendas.Models.Vendedor>

@{
    ViewData["Title"] = "Vendedores";
}

<h2>@ViewData["Title"]</h2>
<h4>
    <a asp-action="Create" class="btn btn-default">Criar</a> 
</h4>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSalarial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartamentoId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(model => item.Email)
            </td>
            <td>
                @Html.DisplayFor(model => item.Data)
            </td>
            <td>
                @Html.DisplayFor(model => item.BaseSalarial)
            </td>
            <td>
                @Html.DisplayFor(model => item.Departamento.Nome)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-success">Ver</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Editar</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

